[Unit]
Description=Common Components Container Service
After=mongo.service
Requires=mongo.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill comp_ismean_cont
ExecStartPre=-/usr/bin/docker rm comp_ismean_cont
ExecStartPre=-/usr/bin/docker pull comp_ismean
ExecStart=/usr/bin/docker run --name comp_ismean_cont -p 50000:8080 --network=network_mean comp_ismean
ExecStop=/usr/bin/docker stop comp_ismean_cont

[Install]
WantedBy=multi-user.target
